@import "../bootstrap/stylesheets/_bootstrap.scss"

.navbar-header
  width: 100%

.center
  margin: 0 auto
  text-align: center
  display: block
  float: none

.right
  float: right

.clear
  clear: both


$v-margin: 20px

.vmargin
  margin-top: 20px
.vmargin2
  margin-top: 40px
.vmargin3
  margin-top: $v-margin*3
// ...


// h1, title
.fsize1
  font-size: 80%
// smaller
.fsize2
  font-size: 65%
// smallest, text, etc
.fsize3
  font-size: 50%

.mini
  // extend fsize2
  font-size: 65%


.fsize_big1
  font-size: 150%
.fsize_big2
  font-size: 180%

.bold
  font-weight: bold

.margin30
  height: 30px
.margin50
  height: 50px
.margin100
  height: 100px
.margin180
  height: 180px
.margin230, .head_margin
  height: 210px

.margin-right40
  margin-right: 40px


// colors: [white, red, blue, yellow, green, red, orange, purple, ...]
//
// for color in colors
//
//    .color_COLOR
//      color: COLOR

$white: #EEE

.color_white
  color: $white
.color_red
  color: red
.color_blue
  color: blue
.color_black
  color: black
// ...

ul ul
  list-style-type: none


.navbar-inverse .navbar-collapse
  background: #333


.test
  background-color: #BBB

pre
  display: inline-block

.hidden
  display: none

.space50
  height: 50px
